certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
crypto==1.4.1
cryptography==42.0.8
gevent==24.2.1
greenlet==3.0.3
idna==3.7
Naked==0.1.32
pycparser==2.22
PyYAML==6.0.1
requests==2.32.3
setuptools==70.0.0
shellescape==3.8.1
six==1.16.0
urllib3==2.2.1
websocket==0.2.1
websocket-client==1.5.1
websockets==10.4
zope.event==5.0
zope.interface==6.4.post2

pandas~=2.2.2
pyotp~=2.9.0
yfinance~=0.2.41
ta~=0.11.0
NorenRestApiPy~=0.0.22
pya3~=1.0.29
uuid~=1.30
logzero~=1.7.0